<section class="callout">
  <div class="wrap">
    <div class="ask">To book an appointment, please pick up the phone. <em>You'll speak to Stuart or David.</em></div>
    <div class="phone-big">
      <small>Telephone the workshop</small>
      <a href="tel:{{ site.phoneTel }}">{{ site.phoneDisplay }}</a>
    </div>
  </div>
</section>
