<footer class="site">
  <div class="wrap">
    <div>
      <div class="brand-mini">{{ site.name }}</div>
      <p>{{ site.description }}</p>
    </div>
    <div>
      <h2>Workshop</h2>
      <p>{{ site.address.street }}<br>{{ site.address.locality }}<br>{{ site.address.region }} {{ site.address.postcode }}</p>
    </div>
    <div>
      <h2>Hours</h2>
      <p>{{ site.hours.days }}<br>{{ site.hours.short }}<br>By appointment only</p>
    </div>
    <div>
      <h2>Call us</h2>
      <a href="tel:{{ site.phoneTel }}" class="phonelink">{{ site.phoneDisplay }}</a>
      <p style="font-size:12.5px">A telephone call usually gets the fastest reply.</p>
    </div>
    <div>
      <h2>Areas we cover</h2>
      <ul>
        {%- for loc in locations %}
        <li><a href="/{{ loc.slug }}/">{{ loc.town }}</a></li>
        {%- endfor %}
      </ul>
    </div>
    <div class="legal">
      <span>&copy; 2026 {{ site.name }}. All rights reserved.</span>
      <span>Kent's independent Land Rover specialist. Sittingbourne, Maidstone, Faversham, Medway.</span>
      <span class="credit">Designed &amp; built by <a href="https://jamesludlow.com" target="_blank" rel="noopener">James Ludlow</a>.</span>
    </div>
  </div>
</footer>
